article.post {
    header {
        display: grid;
        grid-template-areas: 
            "thumbnail title"
            "thumbnail posted_at"
            "thumbnail categories"
            "thumbnail tags"
            "thumbnail ."
            "content content";
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content min-content auto auto 1fr;

        h2.title {
            grid-area: title;
            a,a:hover {
                @include font-large;
                color: var(--color-link);
                text-decoration: none;
            }
        }

        .thumbnail {
            grid-area: thumbnail;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }

        .tags {
            grid-area: tags;
            @include text4;
            font-style: italic;
        }
        .categories {
            grid-area: categories;
            @include text4;
        }

        .posted_at {
            grid-area: posted_at;
            @include text5;
            .date {
                margin-right: 1em;
            }
        }

        .content {
            grid-area: content;
        }
    }

}