.content.multiple {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-medium);
    height: min-content;

    article.post {
        height: min-content;
        flex: 0 0 300px;
        background-color: var(--color-primary-100);
        color: var(--color-neutral-500);
        border-radius: var(--gap-medium);
        header {
            position: relative;
            display: grid;
            grid-template-areas: 
                "thumbnail" 
                "title"
                "posted_at"
                "categories"
                "tags"
                "content";
            grid-template-rows: auto auto auto auto auto auto;
            grid-template-columns: auto;

            > * {
                margin-left: var(--gap-medium);
            }
            .thumbnail {
                margin: 0px;
                width: 100%;
                max-width: 300px;
                img {
                    margin: 0;
                    width: 100%;
                    height: unset;
                    box-shadow: unset;
                    border-radius: unset;
                }
            }
        }

        .content {
            margin-left: var(--gap-medium);
            margin-right: var(--gap-medium);
        }
    }
}

article.post {
    header {
        display: grid;
        grid-template-areas: 
            "thumbnail title"
            "thumbnail posted_at"
            "thumbnail categories"
            "thumbnail tags"
            "thumbnail ."
            "content content";
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content min-content auto auto 1fr;

        h2.title {
            grid-area: title;
            a,a:hover {
                @include fs2;
                color: var(--color-primary-500);
                text-decoration: none;
            }
        }

        .thumbnail {
            grid-area: thumbnail;
            margin-right: 2rem;
            margin-bottom: 2rem;

            position: relative;
            img {
                width: 150px;
                height: 150px;
            }

            .default-thumnail img {
                opacity: .2;
            }
            .default-thumbnail::before {
                content: "Fred forgot an image.";
                font-size: 16px;
                position: absolute;
                z-index: 1;
                color: #ffffff;
                left: 5px;
                top: 25%;
                
                text-shadow: 2px 2px black;
                background-color: rgba(0,0,0,.3);
                padding: 4px;
                border-radius: 10px;
            }


        }

        .tags {
            grid-area: tags;
            @include text4;
            font-style: italic;
            line-height: unset;
            height: auto;
            margin-bottom: var(--gap-small);
        }
        .categories {
            grid-area: categories;
            @include text4;
            line-height: unset;
            height: auto;
            margin-bottom: var(--gap-small);
        }

        .posted_at {
            grid-area: posted_at;
            @include text5;
            .date {
                margin-right: 1em;
            }
        }

        .content {
            grid-area: content;
        }
    }


}

article.draft {
    .content {
        position: relative;
        padding-top: 4rem;

        &::before {
            position: absolute;
            content: 'This is a draft.  Please leave any comments on content, writing style, etc';
            left: 0;
            top: 0;
            height: 4rem;
            width: 100%;
            background-color: red;
            color: #ffffff;
            padding: var(--gap-small);

        }
    }
    .thumbnail {
        position: relative;
        display: inline-block;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(197, 243, 91, 0.5);
            background-image: url(images/draft.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

article.idea {
    .content {
        position: relative;
        padding-top: 4rem;

        &::before {
            position: absolute;
            content: 'This is an idea that may or may not become a post. Leave comments if you are interested.';
            left: 0;
            top: 0;
            height: 4rem;
            width: 100%;
            background-color: #fbff00;
            color: #000000;
            padding: var(--gap-small);

        }
    }
    .thumbnail {
        position: relative;
        display: inline-block;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(255,255,255,.5);
            background-image: url(images/idea.png);
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}