article.post {
    header {
        display: grid;
        grid-template-areas: 
            "thumbnail title"
            "thumbnail posted_at"
            "thumbnail categories"
            "thumbnail tags"
            "thumbnail ."
            "content content";
        grid-template-columns: min-content 1fr;
        grid-template-rows: min-content min-content min-content auto auto 1fr;

        h2.title {
            grid-area: title;
            a,a:hover {
                @include font-large;
                color: var(--color-link);
                text-decoration: none;
            }
        }

        .thumbnail {
            grid-area: thumbnail;
            margin-right: 2rem;
            margin-bottom: 2rem;

            position: relative;
            img {
                width: 150px;
                height: 150px;
            }

            .default-thumnail img {
                opacity: .2;
            }
            .default-thumbnail::before {
                content: "Fred forgot an image. Here's a post.";
                font-size: 16px;
                position: absolute;
                z-index: 1;
                color: #ffffff;
                left: 5px;
                top: 25%;
                
                text-shadow: 2px 2px black;
                background-color: rgba(0,0,0,.3);
                padding: 4px;
                border-radius: 10px;
            }


        }

        .tags {
            grid-area: tags;
            @include text4;
            font-style: italic;
        }
        .categories {
            grid-area: categories;
            @include text4;
        }

        .posted_at {
            grid-area: posted_at;
            @include text5;
            .date {
                margin-right: 1em;
            }
        }

        .content {
            grid-area: content;
        }
    }

}