// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button, input[type='submit'] {
    border: 1px solid var(--color-border-normal);
    border-radius: var(--border-radius-small);
    
    outline: 0;
}

@mixin button-300 {
    padding: var(--gap-small);
    @include text-300;
    text-decoration: none;

    background-color: var(--color-primary-300);
    color: var(--color-neutral-500);
    border-radius: var(--gap-small);
    margin-bottom: var(--gap-small);
}