.post-comments {
    background-color: var(--color-neutral-100);
    border-left: 1px solid var(--color-primary-300);
    border: 4px solid var(--color-primary-500);
    border-radius: var(--gap-small);
    margin-bottom: var(--gap-large);
    padding: var(--gap-small);

    li {
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    border-bottom: 1px solid var(--color-primary-500);
    margin-bottom: var(--gap-small);
    }

    li:last-child {
        border-bottom: 0;
    }

    ol.children {
        border-left: 1px solid var(--color-primary-500);
        margin-left: var(--gap-medium);
    }

    article {
        display: grid;
        margin-bottom: var(--gap-small);
        padding-left: var(--gap-small);
        grid-template-areas:  
            "image name"
            "image date"
            "image moderation"
            "image ."
            ". content"
            ". reply";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto auto var(--gap-small) 1fr auto;
    }


    footer {
        display: contents;
        .vcard {
            display: contents;
            img {
                grid-area: image;
                margin-right: var(--gap-medium);
                border-radius: 9999px;
            }

            .fn {
                grid-area: name;
                @include font-bold;
                color: var(--color-primary-300);
            }

            .says {
                display: none;
            }
        

        }
        .comment-metadata {
            grid-area: date;
            @include fs4;
            a {
                color:var(--color-neutral-300);
            }

            a.comment-edit-link {
                margin-left: var(--gap-small);
                background-color: var(--color-primary-300);
                color: var(--color-neutral-400);
                border-radius: var(--gap-small);
                padding: var(--gap-small);
                @include icon-edit-right;
            }
        }

        .comment-awaiting-moderation {
            @include fs4;
            grid-area: moderation;
            color:transparent;
            width: auto;
            color: var(--color-warning);
        }
    }

    div.comment-content {
        grid-area: content;
        p {
            margin-bottom: var(--gap-small);
        }
    }

    div.reply {
        grid-area: reply;
        a, a:hover {
            padding: var(--gap-small);
            @include button3;
            @include fs4;
            @include icon-reply-left;
            text-decoration: none;
        }
    }
}