.post-comments {
    background-color: var(--color-primary-200);

    li {
    margin: 0;
    padding: 0;
    flex: 0 0 100%;
    }
    ol.children {
        margin-left: .5rem;
        border-left: 1px solid var(--color-neutral-400);
    }

    article {
        display: grid;
        margin-bottom: var(--gap-small);
        background-color: var(--color-neutral-400);
        grid-template-areas:  
            "meta  content"
            "meta reply";
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
    }


    footer {
        grid-area: meta;
        margin-right: var(--medium-gap);
        background-color: var(--color-primary-400);
        color: var(--color-neutral-500);
        display: grid;
        grid-template-areas: "image name" 
                             "image date"
                             "moderation moderation";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto 1fr;
        min-width: 25ch;
        .vcard {
            display: contents;
            img {
                grid-area: image;
                margin-right: var(--gap-small);
            }

            .fn {
                grid-area: name;
            }

            .says {
                display: none;
            }
        

        }
        .comment-metadata {
            grid-area: date;
            @include font-small;
            a {
                color:var(--color-neutral-100);
            }
        }

        .comment-awaiting-moderation {
            @include font-small;
            grid-area: moderation;
            color:transparent;
            width: auto;
            color: var(--color-warning);
        }
    }

    div.comment-content {
        grid-area: content;
        padding-left: var(--gap-medium);

    }

    div.reply {
        grid-area: reply;
        a {
            @include font-small;
            
            padding-left: var(--gap-medium);
        }
    }
}