// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

input {
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-border-normal);
    outline: 0;
}

input:focus {
    border: 1px solid var(--color-border-focus);
}