@use map;

#respond {
    background-color: var(--color-secondary-500);
    border-radius: var(--gap-small);
    padding: var(--gap-medium);

    
    #commentform { 
        @include font-small;
    
        .comment-notes {
            width: 100%;
        }
    
        #cancel-comment-reply-link {
            display: block;
        }
        p {
            position: relative;
            
            label {
                vertical-align: top;
                display: inline-block;
                width: 10ch;
                text-align: right;
            }
            textarea, input {
                @include font-medium;
                width: 75%;
                max-width: 80ch;
                font-weight: 400;
            }
        }

        .comment-form-cookies-consent {
            input, label {
                text-align: left;
                width: unset;
            }
        }

        .form-submit {
            @include button-300;
            @include icon-submit-right;
            width: auto;
            display: inline-block;
            .submit {
                width: auto !important;
                background-color: transparent;
                color: inherit;
                border: 0;
            }
        }
    }
}

@media (max-width: map_get($breakpoints,medium)) {
    #respond {
        margin: 0;
    }
} 