.sidebar {
    @include fs4;
    padding: var(--gap-small);
    overflow: hidden;
}

.sidebar.primary {
    grid-area: primary;
    background-color: var(--color-bg-primary-sidebar);
    color: var(--color-fg-primary-sidebar);
    position: sticky;
    top: 4rem;
    margin-top: 1rem;
    h1, h2 {
        @include fs3;
        color: var(--color-fg-highlight-primary-sidebar);
    }
}

.sidebar.secondary {
    grid-area: secondary;
    background-color: #ffffff;
}