.three-column {
    

    .wp-block-column {
        width: 100%;
        border-right: 1px solid var(--color-faint);
        padding-right: var(--gap-medium);
        padding-left: 0;
        margin-right: 0;
        margin-left: var(--gap-medium);
        @include text3;
    }

    .wp-block-column:last-child {
        border-right: 0;
    }
}

    

@media (max-width: 1000px) {
    .three-column {
        &.wp-block-columns {
            display: block;
        }
        .wp-block-column {
            margin-left: 0;    
            border-right: 0;       
        }
    }
}