
html {
    --color-neutral-100: hsl(0,100%,100%);
    --color-neutral-200: hsl(0, 0%,80%);
    --color-neutral-300: hsl(0,0%,50);
    --color-neutral-400: hsl(0,0%,20%); 
    --color-neutral-500: hsl(0,0%,0%);
  
    --color-primary-100: hsl(218, 60%, 80%);
    --color-primary-200: hsl(218, 60%, 70%);
    --color-primary-300: hsl(218, 60%, 60%);
    --color-primary-400: hsl(218, 60%, 40%);
    --color-primary-500: hsl(218, 60%, 20%);;
  
    --color-secondary-100: hsl(53, 89%, 80%);
    --color-secondary-200: hsl(53, 89%, 70%);
    --color-secondary-300: hsl(53, 89%, 60%);
    --color-secondary-400: hsl(53, 89%, 40%);
    --color-secondary-500: hsl(53, 89%, 20%);

    --color-bg-100: var(--color-neutral-500);
    --color-bg-200: var(--color-neutral-400);
    --color-bg-300: var(--color-neutral-400);
    --color-bg-400: var(--color-neutral-300);
    --color-bg-500: var(--color-neutral-300);
  
    --color-fg-100: var(--color-neutral-100);
    --color-fg-200: var(--color-neutral-100);
    --color-fg-300: var(--color-neutral-200);
    --color-fg-400: var(--color-neutral-200);
    --color-fg-500: var(--color-neutral-200);
  
    --color-bg-menu: var(--color-primary-200);
    --color-fg-menu: var(--color-neutral-100);
  
    --color-bg-primary-sidebar: var(--color-secondary-100);
    --color-fg-primary-sidebar: var(--color-neutral-500);
    --color-fg-highlight-primary-sidebar: var(--color-primary-200);
  
    --color-border-normal: #var(var(--color-neutral-300));
    --color-border-focus: var(--color-neutral-200);
  
    --color-warning: #ff4444;
  

    --color-bg-tag: var(--color-primary-200);
    --color-fg-tag: var(--color-neutral-500);
    --color-border-tag: var(--color-neutral-400);
  
    --color-bg-cat: var(--color-neutral-200);
    --color-fg-cat: var(--color-primary-500);
    --color-border-cat: var(--color-neutral-400);
    --color-cat-development: #00ff00;
    --color-cat-wordpress: #d1eef8;
    --color-cat-smarthome: #fcdc00;

    --color-fg-brand: var(--color-primary-400);
    --color-fg-logo: var(--color-fg-brand);
    --color-bg-logo: var(--color-bg-menu);

    .palette-1-off {
        --color-bg-menu: var(--color-primary-400);
        --color-fg-menu: var(--color-neutral-400);
      
        --color-bg-primary-sidebar: rgba(38,205,222,.1);
        --color-fg-primary-sidebar: #444444;
        --color-fg-highlight-primary-sidebar: rgb(38, 205, 222);
      }
}
