// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------


html {
    --font-size-300: clamp(16px,calc(.7rem + .25vw),28px);
    --font-size-200: calc( var(--font-size-300) * 0.75);
    --font-size-100: calc( var(--font-size-200) * 0.75);
    --font-size-400: calc( var(--font-size-300) * 1.25);
    --font-size-500: calc( var(--font-size-400) * 1.25);
    
    font-family: Roboto, sans-serif;
    font-size: var(--font-size-300);
    font-weight: 400;
    line-height: 1.7;


}

.source-code {
    font-family: 'Source Code Pro',monospace;
}

@mixin font-500 {
    font-size: var(--font-size-100);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.1em;
}

@mixin font-400 {
    font-size: var(--font-size-200);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.2em;
}

@mixin font-300 {
    font-size: var(--font-size-300);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
}


@mixin font-200 {
    font-size: var(--font-size-400);
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
}

@mixin font-100 {
    font-size: var(--font-size-500);
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 1.75em;
}


@mixin font-small {
    font-size: var(--font-size-200);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1rem;
}

@mixin font-normal {
    font-size: var(--font-size-300);
    font-weight: 400;
    font-family: Roboto, sans-serif;
    line-height: 1.2rem;
}


@mixin font-medium {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 1.2rem;
}



@mixin font-large {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 1.7rem;
}


@mixin font-bold {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 1.5rem;
}

@mixin font-site-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.0rem;
    line-height: 2.1rem;
    font-weight: 700;
}
