/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}


p + p,p + ul {
  margin-top: 1.5rem;
}

article {
  margin-bottom: 2rem;
}




/*
* create a hierarchy of text styles (like h1/h2/h3/... )
* text1 is "most significant" to text6 least.
* These can be used as either a mixin or style
*/

@mixin text1 {
  @include fs1;
  color: var(--color-primary-100);
  line-height: 2em;
}

@mixin text2 {
  @include fs2;
  color: var(--color-primary-200);
  line-height: 1.75em;
}

@mixin text3 {
  @include fs3;
  color: var(--color-primary-300);
  font-weight: 400;
  line-height: 1.5em;
} 

@mixin text4 {
  @include fs4;
  color: var(--color-primary-400);
  line-height: 1.25em;
}

@mixin text5 {
  @include fs5;
  font-size: 0.75rem;
  color: var(--color-primary-400);
  line-height: 1.0em;
}


h1,.text1 {
  @include text1;
}

h2,.text2 {
  @include text2
}

h3, .text3 {
  @include text3
}

h4, .text4 {
  @include text4;
}

h5, .text5 {
  @include text5;
}

strong {
  font-size: 1.5em;
  font-weight: 700;
}

em {
  font-style: italic;
}

// I use /verse for simple examples that shouldn't get the full /code styling
.wp-block-verse {
  margin-left: var(--gap-large);
  font-size: 1.1em;
  font-weight: 700;
  overflow: visible !important;
}


pre {
  margin-top: var(--gap-small);
  margin-bottom: var(--gap-small);
  overflow: visible;
}