// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer {
    --footer-bg: var(--color-neutral-400);
    --footer-fg: var(--color-primary-200);
    
    
    background-color: var(--footer-bg);
    color: var(--footer-fg);
    padding: 0.25rem;

    display: grid;
    grid-template-areas: 
        "widgets navigation";
    
    .sidebar.footer {
        grid-area: widgets;
        display: flex;
        gap: 4rem;
    }
    nav {
        @include fs3;
        grid-area: navigation;
        margin-right: 10rem;
        ul {
            display: flex;
            li {
                flex: 0;
                list-style-type: none;
                white-space: nowrap;
                margin-left: 1rem;
                text-align: right;
                a, a:hover, a:visited {
                    background-color: transparent;
                    color: var(--footer-fg);
                    text-decoration: none;
                }
            }

            li:first-child {
                flex: 1;
            }
        }
    }

    h1 {
        font-size: 4vw;
    }
}