// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header.site-header {
    --logo-height: 4rem;
    background-color: #ffffff;
    border-bottom: 1px solid var(--color-faint);
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-areas: 
        "logo title . social user"
        "logo tagline . . ."
        " logo . . . .";
    grid-template-columns: min-content auto 1fr auto auto;
    gap: 0 .25rem ;

  

    .site-logo {
        grid-area: logo;
        img {
            width: 64px;
            height: 64px;
        }
    }

    .site-title {
        @include font-site-title;
        grid-area: title;
        padding-left:1rem;
        padding-top: 0rem;
        padding-right: var(--gap-medium);
        margin-bottom: 0;
        line-height: 100%;
        color: var(--color-brand);

        a {
            font-size: 100%;
        }
    }

    .site-tagline {
        grid-area: tagline;
        font-weight: 400;
        font-size: 1rem;
        padding-left: 1rem;
        
    }

    .social-widgets {
        grid-area: social;
        position: absolute;
        right: 0;
        padding-right: var(--gap-medium);

        white-space: nowrap;
    }

    .user {
        grid-area: user;
        padding-top: 0;
        padding-right: var(--gap-medium);

        white-space: nowrap;
    }
}