// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header {
    background-color: #00ffff;
    padding: 0.25rem;
    nav {
        ul {
            display: flex;
            li {
                flex: 1 1 20%;
                list-style-type: none;
                a, a:hover, a:visited {
                    background-color: transparent;
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
    }

    h1 {
        font-size: 4vw;
    }
}