
#login {
    h1{
        position: relative;

        a {
            position: absolute;
            left:0;
            margin: 0;
        }
    }
    h1:before{
        content:'Developer';
        color: var(--color-brand-fg);
        position: absolute;
        left: 100px;
        top:0;
        @include font-site-title;
    }
    h1:after{
        content:'Relief';
        color: var(--color-brand-fg);
        position: absolute;
        left:100px;
        top:50%;
        @include font-site-title;
    }
}