@use map;
// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.dr-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include text3;
}

#dr-main{
    flex: 1;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 1600px; 

    display: grid;
    grid-template-areas: 
        "posts primary"
        "posts secondary"
        "posts .";
    grid-template-columns: 1fr 200px;

    .posts {
        grid-area: posts;
        border-right: 1px solid var(--color-faint);
        padding: var(--gap-large);
        @include text3;

    }

    .sidebar {
        @include fs4;
        padding: 0.25rem;
        overflow: hidden;
    }

    .sidebar.primary {
        grid-area: primary;
        
    }

    .sidebar.secondary {
        grid-area: secondary;

    }

    ul {
        margin-left: var(--gap-large);
        list-style: disc;

        ul {
            margin-left: var(--gap-medium);
            list-style: circle;
        }
    }
}

h1 {
    margin-bottom: 0.25rem;
}

@media (max-width: map_get($breakpoints,medium)) {
    
    #dr-main {
        --large-gap: 1rem;
    
        grid-template-areas:  
            "posts"
            "primary"
            "secondary";

        grid-template-columns: 100%;            

        .posts {
            border-right: 0px;
        }
    
    }

}