// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

section#main-content{
    min-height: 20rem;
    margin-bottom: 4rem;
    padding: 0.25rem;
}